:root{

    --botton: 
}

* {
    font-family: sans-serif;
}

/* .box {

    height: 50px;
    width: 50px;
    background-color: red;
    margin: 20px;
}


.box-contenitore-absolute{

    position: absolute;
}

.box-inner-box-absolute {

    position: relative;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
} */

main {
    width: 80%;
    margin: 20px auto;
}

h3 {

}

.flex {

    display: flex;
}

.card {
    position: relative;
    flex-basis: 33%;
    padding: 10px;
}

.card__icon {
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: white;
    align-items: center;
    padding: 10px;
}

.card__icon2 {
    position: absolute;
    left: 10px;
    bottom: 150px;
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.card__icon3 {
    position: absolute;
    left: 77px;
    bottom: 150px;
    background-color: green;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.card__icon4 {
    position: absolute;
    left: 10px;
    bottom: 150px;
    background-color: green;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;

}

.card__icon svg {
    width: 24px;
}

