

/* .box {

    height: 50px;
    width: 50px;
    background-color: red;
    margin: 20px;
}


.box-contenitore-absolute{

    position: absolute;
}

.box-inner-box-absolute {

    position: relative;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
} */

main {
    width: 60%;
    margin: 20px auto;
}

.card {
    position: relative;
}

.card__icon {
    position: absolute;
    right: 0;
    top: 10px;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 10px;
}

.card__icon2 {
    position: absolute;
    left: 0;
    top: 380px;
    
}

.card__icon svg {
    width: 24px;
}

