

/* .box {

    height: 50px;
    width: 50px;
    background-color: red;
    margin: 20px;
}


.box-contenitore-absolute{

    position: absolute;
}

.box-inner-box-absolute {

    position: relative;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
} */



.card {
    position: relative;
}

.card__icon {
    position: absolute;
    right: 0;
}

.card__icon svg {
    width: 24px;
}